* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color-scheme: dark;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  cursor: pointer;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 50px;
  position: fixed;
  justify-content: space-between;
  z-index: 111;
}

.nav img {
  height: 7vw;
}

video {
  height: 110vh;
  width: 100%;
  z-index: -1;

  object-fit: cover;
  position: fixed;
}

.nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 100%;
}

.text {
  display: flex;
  gap: 50px;
}

.cursor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #f97316;
  filter: blur(7px);
  pointer-events: none;
  position: fixed;
  z-index: 99;
}

.main {
position: relative;
  background-color: rgba(0, 0, 0, 0.37);
width: 100%;
}

.page1,
.page2 {
  height: 100vh; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page1 h1 {
  position: relative;
  top: 40px;
}

.join_now {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}

.page3{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.join{

  transition: 1s;  
}
.join:hover{

color: black;
}
.contact{
  background:none; border: 1px solid white ; padding: 11.5px; border-radius: 5px; cursor: pointer;
transition: 1s;
}
.contact:hover{
  background-color:  #f97316;
  border: 1px solid #f97316 ;
  color: black;

}

.page2 {
display: flex;
flex-direction: column;
height:80vh;
overflow-y: hidden;
width: 100%;


}

.about{
  margin-top:6rem;
  height: 20%;
  font-size: 0px;

}
.classes{
  margin-top:6rem;
  font-size: 0px; 
  height: 20%;
}



.about:before, .about:after, .classes:before, .classes:after{
  content: "";
display: flex;
  flex: 1 1;
 
  border-bottom: 1px solid;
  margin: auto;
}
.about:before, .classes:before {
  margin-right: -10px;
  margin-left: -10px

}
.about:after,.classes:after {
  margin-right: -10px
;
  margin-left: -10px
}
.content{
  height: 80%;
  width: 80%;
  margin-top: 4rem;

text-align: start;
display: flex; 
flex-direction: row;
gap: 20px;
}



.content .desc{
  display: flex;

line-height: 2;
}
.about_text{
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  
}
.content{
  opacity: 0;
}


.about_text{
  width: 90%;
}
.images{
  height: 70%;
  display: flex;
  
  align-items: center;
  justify-content: center;
  border-radius: 10px;
width: 45%;
object-fit:contain;
overflow: hidden;
transition: 0;
display: flex;
position: relative;
}

.images img{
 border-radius:10px;
  position: relative;
}



/* navbar lukauna */
@media(max-width:980px) {
.nav {
  width: 100%;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
}


/* tyo cards harko lagi css: */



#cards-container {
  margin: 100px 0px;

  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 10;
}

.card .overlay p{
  font-size: 15px;
}

.card {
  perspective: 800px;

  height: 100%;
  width: 100%;
  /* background-color: blue; */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card1 {
  background-image: url(https://www.guardian.in/cdn/shop/articles/benefits-of-zumba.jpg?v=1712652853&width=1000);
}

#card2 {
  background-image: url( https://thekindhelper.com/wp-content/uploads/2022/10/istockphoto-903737446-612x612-3.jpg);
}

#card3 {
  background-image: url(https://cdn.mos.cms.futurecdn.net/YwmMceyxm7TKPwjJRq6iS6.jpg);
}

.overlay {
  height: 100%;
  width: 100%;

  white-space: wrap;
  background:  linear-gradient(to right, #f97316,#9a3412);
  padding: 30px;
  padding-top: 160px;
  opacity: 0;
  transition: all ease 0.6s;
}

.overlay h4 {
  color: #000;
  font-size: 35px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 800;
}

.overlay h4 , .overlay p {
  color: #000;
  position: relative;
top: -100px;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}


@media (max-width:1111px) {
  #cards-container {
      display: flex;
      flex-wrap: wrap;

      height: auto;
  }




}


/* reviews section */
/* Again, this part is copied from github tesaile better not change it, if you guys have any question regarding
 this, here is the link to the youtube video explaining it*/
/* Link: https://www.youtube.com/watch?v=uSENyqs5eAk*/


:root{
  --color-dark: linear-gradient(to right, #f97316,#9a3412)
  --color-secodary-dark: pink;
  --color-primary:rgb(145, 62, 145);
  --color-text: #8297E2;
  --color-light: #EBEBFB;
}

.container{
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
  max-width: 987px;
  width: 100%;
  background:linear-gradient(to right, #f97316,#9a3412);
  text-align: center;
  border-radius: 8px;
  padding: 4em 0;
}

.text-light{
  color: var(--color-light);
}

.swiper {
  width: 600px;
  height: auto;
}

.swiper .swiper-slide .flex{
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper .swiper-slide .comments{
  background-color:rgb(250, 118, 255);

  padding: 1.5em 2em;
  width: 50%;
  border-radius: 5px;
  font-size: .9em;
  position: relative;
}

.swiper .swiper-slide .comments::after{
  content: '';
  position: absolute;
  bottom: -19px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--color-light);
  z-index: -99;
}


.swiper .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.swiper .profile img{
  width: 30%;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  margin: 10px 0;
}

.swiper .profile > a{
  text-decoration: none;
  color: var(--color-light);
}

.swiper .profile > span{
  color: var(--color-text);
  font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
  color: var(--color-text);
  display: none;
} 

@media (min-width: 320px) {
  .board{
      width: auto;
  }

  .swiper {
      width: 320px;
    }

    .board > h1, p{
        padding: 0 2em;
    }
}

@media (min-width: 768px) {
  .board{
      width: 100%;
  }

  .swiper {
      width: 600px;
    }

  .swiper .swiper-button-prev, .swiper-button-next{
      display: initial;
  }

}