@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  color-scheme: dark;

}

html,
body {

  height: 100%;
  width: 100%;

}



.nav {
  cursor: pointer;
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 100px;

  gap: 50px;
  position: fixed;
  justify-content:space-between;
  z-index: 111;
}

.nav img {
  height: 5vw;

}

video {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  object-fit: cover;
}

.nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1vw;
}


.text{
  display: flex;
  gap: 50px;
}

.cursor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color:  #f97316;
  filter: blur(7px);

  position: fixed;
  z-index: 99;

}

