* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color-scheme: dark;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  cursor: pointer;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 50px;
  position: fixed;
  justify-content: space-between;
  z-index: 111;
}

.nav img {
  height: 7vw;
}

video {
  height: 110vh;
  width: 100%;
  z-index: -1;

  object-fit: cover;
  position: fixed;
}

.nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1vw;
}

.text {
  display: flex;
  gap: 50px;
}

.cursor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #f97316;
  filter: blur(7px);
  pointer-events: none;
  position: fixed;
  z-index: 99;
}

.main {
position: relative;
  background-color: rgba(0, 0, 0, 0.37);
width: 100%;
}

.page1,
.page2 {
  height: 100vh; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page1 h1 {
  position: relative;
  top: 40px;
}

.join_now {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}






.join{

  transition: 1s;  
}
.join:hover{

color: black;
}
.contact{
  background:none; border: 1px solid white ; padding: 11.5px; border-radius: 5px; cursor: pointer;
transition: 1s;
}
.contact:hover{
  background-color:  #f97316;
  border: 1px solid #f97316 ;
  color: black;

}

.page2 {
display: flex;
flex-direction: column;
height: 90vh;
overflow-y: hidden;
width: 100%;

}
.about{
  margin-top:6rem;
  margin-bottom:-3rem ;
  height: 20%;
  
font-size: 0px;
}

.about:before, .about:after{
  content: "";
display: flex;
  flex: 1 1;
 
  border-bottom: 1px solid;
  margin: auto;
}
.about:before {
  margin-right: -10px;
  margin-left: -10px

}
.about:after {
  margin-right: -10px
;
  margin-left: -10px
}
.content{
  height: 80%;
  margin-top: 4rem;
margin-right: 7rem;
margin-left: 7rem;
text-align: start;
display: flex; 
gap: 20px;
}



.content image{
  height: 40vh;
  border-radius: 10px;
position: fixed;
}
.content .image img{
  border-radius: 20px;
  height: 50vh;
  width: 50vh;
}
.content .desc{
  display: flex;
float: right;

  line-height: 2;
}
.content .text{
  display: flex;

  flex-direction: column;
  
}
.content{
  opacity: 0;
}